@using GongHaoAdmin.Models;
@{
    List<Tab_Menu> ls = ViewBag.ls;
    List<Tab_Menu> ca = ViewBag.ca;
    List<IGrouping<int, Tab_Menu>> nl = ViewBag.nl;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>公号后台</title>
    <link href="~/Content/themes/default/style.css" rel="stylesheet" media="screen" />
    <link href="~/Content/themes/css/core.css" rel="stylesheet" media="screen" />

    <!--[if IE]>
    <link href="themes/css/ieHack.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>

    <script src="~/Scripts/dwz.core.js"></script>

    <script src="~/Scripts/dwz.accordion.js"></script>
    <script src="~/Scripts/dwz.ajax.js"></script>
    <script src="~/Scripts/dwz.alertMsg.js"></script>
    <script src="~/Scripts/dwz.barDrag.js"></script>
    <script src="~/Scripts/dwz.checkbox.js"></script>
    <script src="~/Scripts/dwz.combox.js"></script>
    <script src="~/Scripts/dwz.contextmenu.js"></script>
    <script src="~/Scripts/dwz.cssTable.js"></script>
    <script src="~/Scripts/dwz.database.js"></script>
    <script src="~/Scripts/dwz.datepicker.js"></script>
    <script src="~/Scripts/dwz.dialog.js"></script>
    <script src="~/Scripts/dwz.dialogDrag.js"></script>
    <script src="~/Scripts/dwz.drag.js"></script>
    <script src="~/Scripts/dwz.effects.js"></script>
    <script src="~/Scripts/dwz.file.js"></script>
    <script src="~/Scripts/dwz.history.js"></script>
    <script src="~/Scripts/dwz.navTab.js"></script>
    <script src="~/Scripts/dwz.pagination.js"></script>
    <script src="~/Scripts/dwz.panel.js"></script>
    <script src="~/Scripts/dwz.print.js"></script>
    <script src="~/Scripts/dwz.resize.js"></script>
    <script src="~/Scripts/dwz.scrollCenter.js"></script>
    <script src="~/Scripts/dwz.sortDrag.js"></script>
    <script src="~/Scripts/dwz.stable.js"></script>
    <script src="~/Scripts/dwz.switchEnv.js"></script>
    <script src="~/Scripts/dwz.tab.js"></script>
    <script src="~/Scripts/dwz.taskBar.js"></script>
    <script src="~/Scripts/dwz.theme.js"></script>
    <script src="~/Scripts/dwz.tree.js"></script>
    <script src="~/Scripts/dwz.ui.js"></script>
    <script src="~/Scripts/dwz.util.date.js"></script>
    <script src="~/Scripts/dwz.util.number.js"></script>
    <script src="~/Scripts/dwz.validate.method.js"></script>

    <!-- 可以用dwz.min.js替换前面全部dwz.*.js (注意：替换时下面dwz.regional.zh.js还需要引入)
    <script src="~/Scripts/dwz.min.js"></script>
    -->
    <script src="~/Scripts/dwz.regional.zh.js"></script>
    <script type="text/javascript">
    $(function () {
            DWZ.init("@Url.Content("~/dwz.frag.xml")", {
                loginUrl: "login_dialog.html", loginTitle: "登录",	// 弹出登录对话框
                //  loginUrl:"login.html",	// 跳到登录页面
                statusCode: { ok: 200, error: 300, timeout: 301 }, //【可选】
                pageInfo: { pageNum: "pageNum", numPerPage: "numPerPage", orderField: "orderField", orderDirection: "orderDirection" }, //【可选】
                keys: { statusCode: "statusCode", message: "message" }, //【可选】
                ui: { hideMode: 'offsets' }, //【可选】hideMode:navTab组件切换的隐藏方式，支持的值有’display’，’offsets’负数偏移位置的值，默认值为’display’
                debug: true,	// 调试模式 【true|false】
                callback: function () {
                    initEnv();
                    $("#themeList").theme({ themeBase: "themes" }); // themeBase 相对于index页面的主题base路径
                }
            });
        });
    </script>
</head>

<body>
    <div id="layout">
        <div id="header">
            <div class="headerNav">
                <ul class="nav">
                    <li><a>欢迎 @(ViewBag.name)</a></li>
                    <li><a href="@Url.Content("~/Home/SignOut")">退出</a></li>
                </ul>
            </div>
            <!-- navMenu -->
        </div>
        <div id="leftside">
            <div id="sidebar_s">
                <div class="collapse">
                    <div class="toggleCollapse"><div></div></div>
                </div>
            </div>
            <div id="sidebar">
                <div class="toggleCollapse"><h2>主菜单.</h2><div>收缩</div></div>
                <div class="accordion" fillSpace="sidebar">
                    <div class="accordionHeader">
                        <h2><span>Folder</span>界面组件</h2>
                    </div>
                    <div class="accordionContent">
                        <ul class="tree treeFolder">
                            @if (ls.Count > 0)
                            {
                                foreach (var a in nl)
                                {
                                    <li>
                                        <a>@(ca.Find(x => x.F_Id == a.Key).F_Name)</a>
                                        <ul>
                                            @foreach (var b in ls)
                                            {
                                                if (b.F_ParentId == a.Key)
                                                {
                                                    <li><a href="@Url.Content("~/")@(b.F_URL)" target="navTab" rel="@(b.F_URL.Replace("/","_"))">@(b.F_Name)</a></li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                }
                            }
                            <li>
                                <a>密码管理</a>
                                <ul>
                                    <li><a href="@Url.Content("~/Home/Password")" target="navTab" rel="Home_Password">修改密码</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="container">
            <div id="navTab" class="tabsPage">
                <div class="tabsPageHeader">
                    <div class="tabsPageHeaderContent">
                        <!-- 显示左右控制时添加 class="tabsPageHeaderMargin" -->
                        <ul class="navTab-tab">
                            <li tabid="main" class="main"><a href="javascript:;"><span><span class="home_icon">我的主页</span></span></a></li>
                        </ul>
                    </div>
                    <div class="tabsLeft">left</div><!-- 禁用只需要添加一个样式 class="tabsLeft tabsLeftDisabled" -->
                    <div class="tabsRight">right</div><!-- 禁用只需要添加一个样式 class="tabsRight tabsRightDisabled" -->
                    <div class="tabsMore">more</div>
                </div>
                <ul class="tabsMoreList">
                    <li><a href="javascript:;">我的主页</a></li>
                </ul>
                <div class="navTab-panel tabsPageContent layoutBox">
                    <div class="page unitBox">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer"></div>
    <script>
        function ff() {
            var ua = navigator.userAgent;
            $("#footer").html(ua);
        }
        ff();
    </script>
</body>
</html>
