@using GongHaoAdmin.Models;
@{
    ViewBag.Title = "IndexView";
    Tab_GongZhongHao gzh = ViewBag.gzh;
    string msg = ViewBag.msg;
}

<h2 class="contentTitle">公号信息</h2>

<div class="pageContent">

    <form method="post" action="@Url.Content("~/GZH/Edit")" enctype="multipart/form-data" class="pageForm required-validate" onsubmit="return iframeCallback(this, navTabAjaxDone);">
        <div class="pageFormContent nowrap" layoutH="97">

            <dl>
                <dt>公号logo：</dt>
                <dd>
                    @if (gzh != null && gzh.F_Logo != null)
                    {
                        <img src="@(gzh.F_Logo)-100x100.jpg" />
                    }
                    <input id="logo" name="logo" type="file" accept="image/gif,image/jpeg,image/jpg,image/png" />
                </dd>
            </dl>
            <dl>
                <dt>公号名称：</dt>
                <dd>
                    <input name="name" class="required" type="text" size="30" minlength="1" maxlength="200" value="@(gzh!=null?gzh.F_GZHName:"")" />
                </dd>
            </dl>
            <dl>
                <dt>公号介绍：</dt>
                <dd>
                    <textarea name="about" cols="50" rows="5" maxlength="4000">@(gzh!=null?gzh.F_About:"")</textarea>
                </dd>
            </dl>
            <dl>
                <dt></dt>
                <dd>
                    @if (msg != "")
                    {
                        <p style="color:red;">@msg</p>
                    }
                </dd>
            </dl>
        </div>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
            </ul>
        </div>
    </form>

</div>


